<section ng-controller="CredentialsController">
	<form name="credentialsForm" ng-submit="next(credentialsForm.$valid)">
	<div class="form-group" show-errors>
				  <label for="username">Όνομα Χρήστη(id):</label>
				  <input type="text" id="username" name="username" class="form-control" ng-model="credentials1.username" placeholder="Username" lowercase required>
				  <div ng-messages="credentialsForm.username.$error" role="alert">
					<p class="help-block error-text" ng-message="required">Username is required.</p>
				  </div>
				</div>
				<div class="form-group" show-errors>
				  <label for="password">Κωδικός:</label>
				  <input type="password" id="password" name="password" class="form-control" ng-model="credentials1.password" placeholder="Password" required ng-minlength="6">
				  <div ng-messages="credentialsForm.password.$error" role="alert">
					<p class="help-block error-text" ng-message="required">Password is required.</p>
					<p class="help-block error-text" ng-message="minlength">Password is too short.</p>
				  </div>
				</div>
				<div class="form-group" show-errors>
				  <label for="epassword">Eπαλήθευση Κωδικού:</label>
				  <input type="password"  id="epassword" name="epassword" compare-to="credentials1.password" class="form-control" ng-model="epassword" placeholder="Δώστε ξανα τον ίδιο κωδικό" required ng-minlength="6">
				  <div ng-messages="credentialsForm.epassword.$error" role="alert">
					<p ng-show="match" class="help-block error-text" ng-message="required">Οι κωδικοί δεν ταιριάζουν.</p>
					<div  ng-message="compareTo">Οι κωδικοί δεν ταιριάζουν</div>
				  </div>
				</div>
			<div class="form-group">
							<button  class="btn-success btn" >Eπόμενο βημα</button>
							<button class="btn btn-warning btn" type="button" ng-click="back()">Προηγούμενο Βήμα</button>
			    </div>
  </form>
</section>