<section ng-controller="RoleController">
	 <div class="header">
				<h2>Ξεκινήστε την διαδικασία εγγραφής</h2>
            <h3 class="title">Eπιλέξτε τι χρήστης είστε:</h3>
        </div>
        <div class="body " style="padding-bottom:2em;margin-bottom:2em;">
		<p>Αν επιθυμείτε  να παραγγείλετε πετρέλαιο κίνησης η θέρμανσης επιλέξτε το κουμπί ΠΕΛΑΤΗΣ </p>
		<div class="text-center form-group">
		<button class="btn btn-success text-center" ng-click="pelatis()">ΠΕΛΑΤΗΣ</button>
		</div>
		<p>Αν είστε πρατηριούχος και θέλετε να εγγράψατε το πρατήριο σας στην υπηρεσία μας για διευκόλυνση στην διεκπαιρέωση των παραγγελιών επιλέξτε το κουμπί ΠΡΑΤΗΡΙΟΥΧΟΣ</p>
		 <div class="text-center form-group">
		 <button class="btn btn-success btn" ng-click="pratiriouxos()">ΠΡΑΤΗΡΙΟΥΧΟΣ</button>
		 </div>
		 </div>
</section>