<section ng-controller="SignUpController">
  
  <div class="row" >
    <nav class="col-sm-3 col-md-3" >
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" style="margin-bottom:1em;margin-top:2em;">
          <a a-disabled="$storage.roleflags" ui-sref="signup.role"><strong>Bήμα 1:</strong>Διαλεξε Ρόλο</a>
        </li>
        <li ui-sref-active="active" style="margin-bottom:1em;">
          <a  a-disabled="$storage.personalInfoflags" ui-sref="signup.personalInfo"><strong>Bήμα 2:</strong>Συμπλήρωσε τα προσωπικά σου στοιχεία</a>
        </li>
        <li ui-sref-active="active" style="margin-bottom:1em;" >
          <a a-disabled="$storage.locationflags" ui-sref="signup.location"><strong>Bήμα 3:</strong>Δώσε μας την τοποθεσία σου</a>
        </li>
        <li ui-sref-active="active" style="margin-bottom:1em;">
          <a a-disabled="$storage.credentialflags" ui-sref="signup.credentials"><strong>Bήμα 4:</strong>Δώσε μας τα στοιχεία εισόδου σου</a>
        </li>
		<li ui-sref-active="active" style="margin-bottom:1em;">
          <a a-disabled="$storage.epali8eusiflags" ui-sref="signup.epali8eusi"><strong>Bήμα 5:</strong>Επαλήθευση των στοιχείων σου</a>
        </li>
		<li style="margin-top:2em;">
          <button ng-disabled="$storage.apply" style="margin-left:4em;" class="btn btn-success" ng-click="apply()"><strong>Bήμα 6:</strong>Ολοκλήρωση εγγραφής</button>
        </li>
      </ul>
	  <div ng-show="error" class="text-center text-danger">
				  <strong ng-bind="error"></strong>
				</div>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view" style="height:32em;">
      <div ui-view></div>
    </div>
  </div>
 
</section>