
<section ng-controller="OrdersController" ng-init="finishedOrders()">
  <div class="page-header">
    <h1>Οι παραγγελίας που ολοκληρώθηκαν</h1>
  </div>
  <div style="width:100%;" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter style="height:200;" ui-grid-auto-resize ng-style="getTableHeight()" >
	 <div class="watermark" ng-bind="historyHint" style="position:absolute;top :80px;opacity: 0.25;font-size: 3em;width: 100%; text-align:center;z-index:1000;" ng-show="!gridOptions.data.length"></div>
 
  </div> 
  
  
</section>
