<section data-ng-controller="AdminController" data-ng-init="findMessage()">
	


	<div style="margin-left:6em;margin-top:6em;" class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-3"><strong>Χρηστης</strong></div>
				<div class="col-md-6" data-ng-bind="adminuser2.user"></div>
			</div>
			<hr/>
			
			<div class="row">
				<div class="col-md-3"><strong>Email</strong></div>
				<div class="col-md-6" data-ng-bind="adminuser2.email"></div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-3"><strong>Μυνημα χρηστη</strong></div>
				<div class="col-md-6" data-ng-bind="adminuser2.bodyofMessage"></div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-3"><strong>ημερομμηνία δημιουργίας μυνήματος</strong></div>
				<div class="col-md-6" data-ng-bind="adminuser2.created"></div>
			</div>
			<hr/>
		
		</div>
	</div>
</section>