<section class="row" ng-controller="ChangeLocationController">

   <!-- <form class="signin form-horizontal">
      <fieldset>
        <div class="form-group text-center">
          <img ng-src="{{imageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
        </div>
        <div class="text-center form-group" ng-hide="uploader.queue.length">
          <span class="btn btn-default btn-file">
              Select Image <input type="file" nv-file-select uploader="uploader">
          </span>
        </div>
        <div class="text-center form-group" ng-show="uploader.queue.length">
          <button class="btn btn-info" ng-click="uploadProfilePicture();">Upload</button>
          <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>Profile Picture Changed Successfully</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div> -->
  <span class="row">
	<form name="locForm1"  style="padding:2em;margin:1em;" ng-submit="updateloc(locForm1.$valid)" class="col-md-6">
				
				<div class="form-group " >
					  <label for="area"> Νομός:</label>
					  <div>
						<select  style="width:250px;" name="area" class="form-control" placeholder="Διάλεξε Νομό" ng-model="user.area" ng-options="choice for choice in areas" >
									<option value="" disabled selected>Διαλέξτε Noμό</option>			
							</select>
							</div>
							<div ng-messages="locForm1.area.$error" role="alert">
						<p class="help-block error-text" ng-message="required">area is required.</p>
					  </div>
				   </div>
					<div class="form-group" show-errors>
					  <label for="city">Πόλη:</label>
					  <input type="text" style="width:250px;" id="city" name="city" class="form-control" ng-model="user.city" placeholder="Πχ Θεσσαλονίκη"  required>
					  <div ng-messages="locForm1.city.$error" role="alert">
						<p class="help-block error-text" ng-message="required">city is required.</p>
					  </div>
					</div>
				
					<div class="form-group " show-errors>
						
						
						<div class="field" style="width:250px;" ng-model="user.street" id="searchboxWrapper"><label>Η Διεύθυνση σας:</label></div>
					<div ng-messages="locForm1.address.$error" role="alert">
					   <p class="help-block error-text" ng-message="minlength">Απαιτείται Σωστή διεύθυνση</p>
					   <p class="help-block error-text" ng-message="required">Απαιτείται Σωστή διεύθυνση</p>				   
					</div>
					</div>	
			
					
				
				
				 <div class="text-center form-group">
				  <button type="submit" class="btn btn-lg btn-info">Αποθήκευση αλλαγών</button>
				</div>
				<div ng-show="success" class="text-center text-success">
				  <strong>Οι αλλαγές αποθηκεύτηκαν</strong>
				</div>
				<div ng-show="error" class="text-center text-danger">
				  <strong ng-bind="error"></strong>
				</div>
				
				
	</form>
			
				<span class=".col-md-6">

							<div id="map-canvas1 "  >
							<ui-gmap-google-map
									control="map1.control"
									center='map1.center'
									zoom='map1.zoom'
									draggable="map1.draggable"
									options="options1">
								<ui-gmap-marker
										coords="marker1.coords"
										options="marker1.options"
										 events="marker1.events"
										idkey="10">
								</ui-gmap-marker>
								<ui-gmap-search-box template="searchbox.template" parentdiv="'searchboxWrapper'" events="searchbox.events" position="BOTTOM"></ui-gmap-search-box>
							</ui-gmap-google-map>
							<script type="text/ng-template" id="searchbox1.tpl.html">
							   <input type="text" class="form-control" placeholder="Γράψτε την ακριβής διεύθυνση του σπιτιού σας.." name="user.street" ng-model="user.street" ng-minlength="5" required />
							</script>	
						</div>
				   <small>*Βεβαιωθείτε οτι ο δείκτης ειναι στην θέση του σπιτιού σας</small>
					<small>Σε περίπτωση λάθους αφήστε εμας να βρούμε αυτόματα τις θέσεις σας.<button type="button" ng-click="getLocation()">Διόρθωση τοποθεσίας</button> </small>
					<p><small>Aμα ακόμα υπάρχει πρόβλημα στείλτε email στο panospost1@gmail.com </small></p>
				</span>
	</span>
  
  
</section>
