<section ng-controller="CompaniesController" ng-init="findForGuestUsers()" flex layout="row" layout-align="center center">
  
  
  <section  style="opacity:0.9;" flex-sm="100"  flex-gt-sm="90" flex-gt-md="60" flex-gt-lg="50" >
  
     <md-list style="margin:5em;" >
       
	  <md-subheader  ng-hide="companies.length===0" class="md-no-sticky">Πρατήρια που βρίσκεστε στην εμβέλεια τους</md-subheader>
		<md-subheader ng-show="companies.length===0" class="md-no-sticky">Δυστηχώς δεν υπάρχουν πρατήρια που να σας εξυπηρετούν στην εναλλακτική σας διεύθυνση</md-subheader>

      <md-list layout-padding>
        <md-list-item layout-align="center center" class="md-whiteframe-17dp md-2-line" style="background-color:white;opacity:0.9;padding:1em;" ng-repeat="company in companies" >
            <i class="fa fa-truck fa-5x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
			
            <div class="md-list-item-text">
				<div layout="column">
				<h3 >Όνομα Πρατηρίου:&nbsp; {{company.companyname}}</h3> 
				<h3 >Τιμή/λίτρο:&nbsp;{{company.pricepL}}€</h3>
				<h3 >Διεύθυνση:&nbsp; {{company.address}}</h3> 
				<h3 >Τηλέφωνο:&nbsp; {{company.phonenumber}}</h3>
					
				</div>
				
				
					
				  
						
            </div>
        </md-list-item>
      </md-list>
    </section>

   

  
</section>
